body{
	font-family: Arial;
	font-size: 15px;
	padding:20px 0;
	background: #e1e1e1;
}

.container{
	width: 80%;
	max-width: 900px;
	margin: 0 auto;
	background: #ffffff;
	border: 1px solid #cccccc;
	padding: 20px;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}